:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --main-button-color: #ffffff;
  --second-button-color: #212121;
  --header-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-width: 0;
  border-radius: 4px;
}

address {
  font-style: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

/* ----------------HEADER------------- */
.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.header-contacts-list {
  display: flex;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header .logo {
  color: #000000;
  margin-right: 93px;
}

.logo span {
  color: #2196f3;
}
.header-item {
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contacts-item {
  margin-right: 50px;
}
.header-contacts-item:last-child {
  margin-right: 0px;
}

.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}
.header-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ----------------HERO------------- */

.hero {
  background-color: #2f303a;

  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-container {
  padding-left: 252px;
  padding-right: 252px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  min-width: 696px;
}

.hero-btn {
  font-family: inherit;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-button-color);
  width: 200px;
  min-height: 50px;
  margin: 30px auto 0 auto;
  background-color: #2196f3;
}

/* ----------------ABOUT US------------- */

.about-list {
  display: flex;
}
.about-item {
  width: 270px;
  margin-right: 30px;
}
.about-item:last-child {
  margin-right: 0;
}
.about-picture {
  max-width: 270px;
  min-height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 10px;
}

.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ----------------WORKS------------- */
.work {
  padding-top: 0;
}
.work-title {
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.work-item {
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

/* ----------------TEAM------------- */
.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}
.teammate {
  background-color: #fff;
  flex-basis: calc(100% / 4 - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.teammate-text-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.teammate-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);

  margin-bottom: 10px;
}

.teammate-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.teammate-social-list {
  display: flex;
  justify-content: center;
}

.teammate-social-item {
  width: 44px;
  height: 44px;
}
.teammate-social-item + .teammate-social-item {
  margin-left: 10px;
}
.teammate-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #afb1b8;
}

.teammate-social-icon {
  fill: currentColor;
}

.teammate-social-link:hover,
.teammate-social-link:focus {
  color: var(--main-button-color);
  background-color: var(--accent-color);
}

/* ----------------CLIENTS------------- */

.clients-title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* ----------------PROJECTS------------- */

.projects-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.projects-filter-item {
  margin-right: 8px;
}
.projects-filter-item:last-child {
  margin-right: 0;
}
.projects-filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-button-color);
  padding: 6px 22px;
}

.projects-filter-btn:hover,
.projects-filter-btn:focus {
  color: var(--main-button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}
.projects-item {
  background-color: #fff;
  /* border: 1px solid #eeeeee; */
  flex-basis: calc(100% / 3 - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
}

.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-item .border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ----------------FOOTER------------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.footer-container {
  display: flex;
}
.footer-left {
  margin-right: 70px;
}
.footer .logo {
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}

.footer-item {
  display: block;
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.footer-address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contacts-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.footer-right {
  padding-top: 12px;
}
.footer-social-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  display: block;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-button-color);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
